:root{
    --black: #040304;
    --blue:#14163E;
    --gray: #747C92;
    --white:#FAFAFB;
    --darkest-blue:#131123;
    --orange:#A13B26;
    --lightest-black:#14141c;
    --menu-color:rgba(19, 17, 34, 0.95);
}

@font-face {
  font-family: 'aeonik';
  src: url(./assets/fonts/AeonikTRIAL-Regular.otf);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "aeonik",sans-serif;
}